<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <section class="hero">
        <div class="hero-content">
            <div class = "wodder">
                <h1>WODDER</h1>
            </div>
          <h2>No more boring workouts! Our random workout generator creates custom workouts based on your fitness level and goals.</h2>
          <!-- <a href="#"  class="cta-button" id="cta-button">Get Started</a> -->
        {% block button %}
          <a href="{{ url_for('logout') }}">Logout</a>
          <a href="{{ url_for('signin') }}">signin</a>
          <a href="{{url_for('signup')}}" class="cta-button" id="cta-button"><button type="button" class="btn btn-light">Get Started</button></a>
        {% endblock %}
        </div>
        <div class="hero-image">
            <img src="static/style/karsten-winegeart-0Wra5YYVQJE-unsplash.jpg" alt="People working out and using the random workout generator">
        </div>
        {% block content %}{% endblock %}
      </section>
</body>
</html>

<!-- Random workout generator: A key feature of the app, the random workout generator would be prominently displayed on the landing page. Users could click a button to generate a workout that includes a random selection of exercises, sets, and reps.

Testimonials: Social proof is a powerful marketing tool, so the landing page could include testimonials from satisfied users who have used the app to achieve their fitness goals.

Call-to-action: A prominent call-to-action button that encourages users to download or sign up for the app. This could be located in the header, hero section, or footer of the landing page.

Footer: A footer section that includes links to the app's social media profiles, contact information, and additional resources or information about the app. -->